<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<<<<<<< HEAD
<div class = "row">
    <% @items.each do |item| %>
        <div class = "col-md-4">
            <div class = "panel panel-default">
                <div class = "panel-body">
                      <p><strong><%= item.title %></strong></p>
                       <div style = "height:150px;">
                           <%= image_tag item.image.url(:thumb) %>
                       </div>
                    <p><a href="#">
                        <span class = "glyphicon glyphicon-plus"></span>quick info
                    </a></p>
                    <p><strong><%= number_to_currency item.price %></strong></p>
                    <div style="height:150px;">
                        <p><%= item.description %></p>
                    </div>
                    <p>Posted by: <%= item.user.username %></p>
                </div>
            </div>
        </div>
    <%end%>
</div>
=======
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= item.user %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
>>>>>>> 6d5d9cd7ecbd7caf6903b80376004256dd51da94
