<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>

<div class = "row">
    <% @items.each do |item| %>
        <div class = "col-md-4">
            <div class = "panel panel-default">
                <div class = "panel-body">
                      <p><strong><%= item.title %></strong></p>
                       <div style = "height:150px;">
                           <%= image_tag item.image.url(:thumb) %>
                       </div>
                    <p><a href="#">
                        <span class = "glyphicon glyphicon-plus"></span>quick info
                    </a></p>
                    <p><strong><%= number_to_currency item.price %></strong></p>
                    <div style="height:150px;">
                        <p><%= item.description %></p>
                    </div>
                    <p>Posted by: <%= item.user.username %></p>
                </div>
            </div>
        </div>
    <%end%>
</div>
